*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.notes-container {
  width: 80%;
  max-width: 900px;
  border-radius: 1rem;
  padding: 2rem;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  border: red 5px solid;
  align-items: center;
}
